@model AvaliacaoLP3.Models.LojaViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>@Model.Nome</h1>
<p>Id - @Model.Id | Piso - @Model.Piso | Descrição - @Model.Descricao | E-mail - @Model.Email</p>